<div id="form">
    <h1>Login</h1>
</div>
<form action="/login" method="post">
    <div class="container">
        <label><b>Username</b></label><br>
        <input type="text" placeholder="Enter Username" name="username"><br>

        <label><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="hashPass"><br>

        <div class="clearfix">
            <button type="submit" class="signupbtn">Login</button>
        </div>
    </div>
</form>