<div id="form">
    <h1>Register</h1>
</div>
<form action="/register" method="post">
    <div class="container">
        <label><b>Username</b></label><br>
        <input type="text" placeholder="Enter Username" name="username"><br>

        <label><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="hashPass"><br>

        <label><b>First name</b></label><br>
        <input type="text" placeholder="Enter first name" name="firstName"><br>

        <label><b>Last name</b></label><br>
        <input type="text" placeholder="Enter last name" name="lastName"><br>

        <div class="clearfix">
            <button type="submit" class="signupbtn">Register</button>
        </div>
    </div>
</form>