<div id="form">
    <h1>Register car</h1>
</div>
<form action="/cars/add" method="post">
    <div class="container">
        <label><b>Mark</b></label><br>
        <input type="text" placeholder="Enter mark" name="mark"><br>

        <label><b>Model</b></label><br>
        <input type="text" placeholder="Enter model" name="model"><br>

        <label><b>Image</b></label><br>
        <input type="text" placeholder="Enter image url" name="image"><br>

        <label><b>Price per day</b></label><br>
        <input type="text" placeholder="Enter price per day" name="pricePerDay"><br>

        <label><b>Production year</b></label><br>
        <input type="text" placeholder="Enter production year" name="productionYear"><br>

        <div class="clearfix">
            <button type="submit" class="signupbtn">Register</button>
        </div>
    </div>
</form>